<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.nadel.alfred.obsidian</string>
	<key>connections</key>
	<dict>
		<key>E17CD88B-1440-44C5-8EFF-0D19D25280AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CBDCB34-02C1-4E3C-877D-23E96D37848F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Nadel</string>
	<key>description</key>
	<string>Obsidian + Alfred Integration</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Obsidifred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>of</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Full-Text Search</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E17CD88B-1440-44C5-8EFF-0D19D25280AA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>return-only-action</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>de.chris-grieser.shimmering-obsidian</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6CBDCB34-02C1-4E3C-877D-23E96D37848F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Obsidifred

Simple full-text search for Shimmering Obsidian via `of`.

## Installing

1. Install Obsidifred
1. Install [Shimmering Obsidian](https://github.com/chrisgrieser/shimmering-obsidian)
1. Configure Obsidifred to specify vault path (using the same as Shimmering Obsidian's)

## Behavior

If you enable [RipGrep](https://github.com/BurntSushi/ripgrep) then `rg` needs to be in your path, and we pass along the `--smart-case` flag.

Otherwise, we'll do Python-native smart case searching. If you're doing a case sensitive search we'll open the file, read its contents, convert to lowercase, and search for your term. If you're doing a case insensitive search we'll read the file via `mmap` to find your term.</string>
	<key>uidata</key>
	<dict>
		<key>6CBDCB34-02C1-4E3C-877D-23E96D37848F</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>E17CD88B-1440-44C5-8EFF-0D19D25280AA</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Vault Path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>vault_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Debug</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>debug</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Uses smart case searching. The rg binary needs to be in the path.</string>
			<key>label</key>
			<string>Use Ripgrep</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>ripgrep</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.4</string>
	<key>webaddress</key>
	<string>https://nadel.org</string>
</dict>
</plist>
